{% extends 'app.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>Edit User</h1>
        {% if app.user.id != user.id %}
            {% for r in user.roles %}
                {% if r is same as ("ROLE_USER") %}
                    {{ include('user/_admin_form.html.twig') }}
                {% endif %}
                {% if r is same as ("ROLE_ADMIN") %}
                    {{ include('user/_user_form.html.twig') }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}">back to list</a>

        {{ include('user/_modal_admin.html.twig') }}
        {{ include('user/_modal_user.html.twig') }}
    </div>
{% endblock %}
