{% extends 'app.html.twig' %}

{% block title %}Product index{% endblock %}

{% block search %}
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    <button class="btn btn-outline-secondary" type="submit" id="button-search"><i class="fas fa-search"></i></button>
    {{ form_end(form) }}
{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>Product index ({{ pagination.getTotalItemCount }})</h1>

        {# <a id="new" href="{{ path('product_new') }}">Create new</a> #}

        <table class="table table-index">
            <thead>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 's.id') }}</th>
                <th{% if pagination.isSorted('s.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Name', 's.name') }}
                </th>
                <th{% if pagination.isSorted('s.state') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'State', 's.state') }}
                </th>
                <th{% if pagination.isSorted('s.color') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Color', 's.color') }}
                </th>
                <th>actions</th>
            </tr>
            </thead>

            {# table body #}
            {% for stuff in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ stuff.id }}</td>
                    <td>{{ stuff.name }}</td>
                    <td>{{ stuff.state }}</td>
                    <td>{{ stuff.color }}</td>
                    <td>
                        <a class="showLink" href="{{ path('stuff_show', {'id': stuff.id }) }}" title="Show"><i
                                    class="far fa-eye"></i></a>
                        <a href="{{ path('stuff_edit', {'id': stuff.id}) }}" title="Edit"><i
                                    class="far fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
