{% extends 'app.html.twig' %}

{% block title %}My Loaned Stuffs{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>My Loaned Stuffs index</h1>

        <table class="table table-index">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
{#                <th>Description</th>#}
                <th>Number of Products</th>
                <th>Borrower</th>
                <th>Loaned At</th>
                <th>State</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for loan in user.loans %}
                <tr>
                    <td>{{ loan.id }}</td>
                    <td>{{ loan.name }}</td>
{#                    <td>{{ loan.description }}</td>#}
                    <td>
                        {% if loan.returnAt == null %}
                            {{ loan.product|length }}
                        {% else %}
                            {{ loan.loanArchive.product|length }}
                        {% endif %}
                    </td>
                    <td>{{ loan.borrowedBy.username }}</td>
                    <td>{{ loan.loanedAt|date("m/d/Y") }}</td>
                    <td>
                        {% if loan.returnAt == null %}
                            In progress
                        {% else %}
                            Returned
                        {% endif %}
                    </td>
                    <td>
                        <a class="showLink" href="{{ path('myloanedstuffs_show', {'id': loan.id}) }}"><i class="far fa-eye"></i></a>
                        {% if loan.returnAt == null %}
                            <a href="{{ path('myloanedstuffs_edit', {'id': loan.id}) }}"><i class="far fa-edit"></i></a>
                            {{ include('myLoanedStuffs/_return.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('myloanedstuffs_new') }}">Create new</a>
    </div>
{% endblock %}