{% extends 'app.html.twig' %}

{% block title %}Product index{% endblock %}

{% block breadcrumb %} {{ wo_render_breadcrumbs({separator: '/', listId: 'breadcrumbs'}) }} {% endblock %}

{% block body %}
    <div id="corpus" class="col-9">
        <h1>My Stuff index</h1>

        <table class="table table-index">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
{#                <th>Description</th>#}
                <th>State</th>
                <th>Color</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
{#                    <td>{{ product.description }}</td>#}
                    <td>{{ product.state }}</td>
                    <td>{{ product.color }}</td>
                    <td>
                        <a href="{{ path('stuff_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('stuff_edit', {'id': product.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('stuff_new') }}">Create new</a>
    </div>
{% endblock %}
